:root {
  --Primary_Green: #416a0f;
  --Secondary_Green: #c6edb3;
  --Third_Green: #93bd94;
  --Fourth_Green: #406830;
  --Fifth_Green: #7e9e2c;
  --Sixth_Green: #f4feef;
  --Primary_White: #f4fdfe;
  --Secondary_White: #fff;
  --Third_White:#f6f6ec ;
  --Primary_Black: #010101;
  --Primary_Yellow: #406830;
  --Secondary_Yellow: #93bd94;
  --Third_Yellow: #ce7329;
  --Primary_Gray: #646464;
  --Primary_Pink: #f7e9dc;
  --Hover_Color_Btn: #4b0d12;
}

.App {
  text-align: center;
  height: fit-content;
  position: relative;
  /* Target the scrollbar track */
}

* {
  box-sizing: border-box;
  transition-duration: .2s;
  font-family: 'Be Vietnam Pro', sans-serif;
}

html {
  padding: 0;
  margin: 0;
  position: relative;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
button {
  border: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* hover product bestSeller side bar chạy vào */
@keyframes Side-bar-BS-fadeIn {
  from {
    right: -30px;
    opacity: 0;
  } 
  to {
    right: 20px;
    opacity: 1;
  }
}